<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/*.properties" />

	<!-- HBase 装配辅助类 -->
	<bean id="hBaseUtil" class="util.HBaseUtil" init-method="init">
		<property name="zkQuorum" value="${hbase.zookeeper.quorum}"></property>
		<property name="zkMaster" value="${hbase.zookeeper.master}"></property>
		<property name="hTablePoolSize" value="${htablepoolsize}"></property>
	</bean>

	<!-- 配置ｄａｏ -->
	<bean id="pointDao" class="dao.PointDao">
		<property name="hBaseUtil" ref="hBaseUtil"></property>
	</bean>
	<bean id="confDao" class="dao.ConfDao">
		<property name="TABLENAME" value="${conftable}"></property>
		<property name="hBaseUtil" ref="hBaseUtil"></property>
	</bean>

	
</beans>
